header {
  background-color: $black-dark;
  padding: 32px 16px;
}

nav {
  max-width: $container-l;
  margin: 0 auto;

  .menu {
    list-style: none;
    gap: 40px;

    a {
      color: $white-light;
      @include typeface-1(h6, desktop);
    }
  }

  @include responsive(s) {
    justify-content: center !important;
    gap: 32px;
  }
}