.termos-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 24px;
  text-align: justify;
}

.termos-container h2,
.termos-container p {
  margin-bottom: 32px;
}

@media (max-width: 800px) {
  .bicicletas-texto h1 {
    font-size: 2rem;
  }
  .bicicletas-texto p {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
  .termos-container {
    text-align: left;
  }
}
