@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:ital,wght@0,500;0,700;1,500&family=Roboto:ital,wght@0,500;0,700;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: none;
  border-style: none;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.text-nav {
  font: 500 1.125rem/2 "Poppins", sans-serif;
}

.text-h1 {
  font: 700 4rem/1.125 "Poppins", sans-serif;
}

.text-h1-span {
  color: #ffbb00;
}

.text-h2 {
  font: 700 2rem/1.125 "Poppins", sans-serif;
}

.text-p-med {
  font: 500 1.5rem/1.5 "Roboto", sans-serif;
}

.text-p-s {
  font: 500 1.125rem/1.5 "Roboto", sans-serif;
}

.text-p-s1 {
  font: 500 1rem/1.5 "Roboto", sans-serif;
}

.text-p-s2 {
  font: 500 0.875rem/1.5 "Roboto", sans-serif;
}

.text-p-s3 {
  font: 500 0.75rem/1.5 "Roboto", sans-serif;
}

.btn-primario {
  padding: 16px 32px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  color: #332200;
  font: 700 1.125rem/1.33 "Poppins", sans-serif;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.btn-secundario {
  padding: 16px 32px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #2e2e2e;
  color: #cccccc;
  font: 700 1.125rem/1.33 "Poppins", sans-serif;
  text-transform: uppercase;
  border: none;
}

.header-intro-bg {
  background-color: #000000;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  color: #ffffff;
  padding: 16px 0;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: #ededed;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after,
.header-menu a.ativo::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header {
    gap: 20px;
  }
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background: rgba(255, 255, 255, 0.5);
  }
  .header-menu a:hover::after {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 0.875rem;
  }
}
.header-intro-bg {
  background: #000000;
}

.bicicleta {
  background: #111111;
}

.bicicleta-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 24px;
}

.bicicleta-container h1 {
  color: #ffffff;
}

.bicicleta-container p,
.conteudo-informacoes p {
  color: #b2b2b2;
}

.bicicleta-container-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 60px;
}

.conteudo-imagem {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.imagem-principal {
  grid-column: 1/3;
  margin-bottom: 20px;
}

.imagem-alternativa {
  display: flex;
  align-items: flex-start;
  margin-bottom: 520px;
}

.img-1 {
  padding-right: 10px;
}

.img-2 {
  padding-left: 10px;
}

.conteudo-texto p {
  margin-bottom: 40px;
}

.conteudo-texto-botoes {
  display: flex;
  align-items: center;
  gap: 20px;
}

.conteudo-texto-botoes a {
  align-self: self-start;
}

.botoes-detalhe {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.botoes-detalhe span {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #000000;
  padding: 4px 16px;
  color: #b2b2b2;
  border-radius: 4px;
}

.conteudo-texto-info,
.conteudo-texto-ficha {
  margin-top: 40px;
}

.conteudo-texto-info p,
.conteudo-texto-ficha p {
  color: #ffffff;
  margin-bottom: 12px !important;
}

.info-quadro {
  background: #000000;
  border-radius: 4px;
  padding: 32px;
}

.info-quadro-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.info-quadro-conteudo-card img {
  margin-bottom: 24px;
}

.info-quadro-conteudo-card h3 {
  line-height: 0;
}

.info-quadro-conteudo-card p {
  color: #b2b2b2;
}

.ficha-quadro {
  background: #000000;
  border-radius: 4px;
  padding: 32px;
}

.ficha-quadro-conteudo li {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  color: #ffffff;
  border-bottom: 1px solid rgb(17, 17, 17);
}

.no-border {
  border-bottom: none !important;
}

.ficha-quadro-conteudo span {
  color: #b2b2b2;
}

@media (max-width: 800px) {
  .bicicleta-container-conteudo {
    grid-template-columns: 1fr;
  }
  .imagem-alternativa {
    margin-bottom: 0;
  }
}
@media (max-width: 400px) {
  .bicicleta-container h1 {
    font-size: 2rem;
    padding-top: 20px;
  }
  .bicicleta-container p {
    font-size: 1.5rem;
  }
  .bicicleta-container-conteudo {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
  .imagem-alternativa {
    margin-bottom: 0;
  }
  .info-quadro-conteudo {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
.bicicleta-alternativa {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 120px;
}

.bicicleta-alternativa-container {
  padding-top: 32px;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.modelo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modelo img {
  width: 100%;
}

.modelo-texto {
  padding: 12px 36px;
}

.modelo-texto h2 {
  position: relative;
  margin-bottom: 8px;
}

.modelo-texto h2::before {
  content: "";
  width: 12px;
  height: 8px;
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  position: absolute;
  top: 12px;
  left: -24px;
  z-index: -1;
}

@media (max-width: 800px) {
  .bicicleta-alternativa {
    padding: 0 24px;
  }
}
@media (max-width: 400px) {
  .bicicleta-alternativa h1 {
    font-size: 2rem;
    padding-top: 20px;
  }
  .bicicleta-alternativa-container {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}
.propaganda {
  background: #111111;
  box-shadow: inset 0 80px #ffffff, inset 0 -80px #000000;
}

.propaganda-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.propaganda-container img {
  height: 756px;
  -o-object-fit: cover;
     object-fit: cover;
}

.propaganda-container-texto h1,
.propaganda-container-texto p {
  color: #b2b2b2;
  margin-bottom: 32px;
}

.propaganda-container-texto h1 {
  color: #ffffff !important;
  width: 14ch;
}

@media (max-width: 800px) {
  .propaganda {
    box-shadow: inset 0 80px #ffffff;
    padding: 0 24px;
  }
  .propaganda-container {
    grid-template-columns: 1fr;
    align-items: flex-start;
  }
  .propaganda-container-texto {
    gap: 12px;
    padding-bottom: 40px;
  }
  .propaganda-container img {
    height: 378px;
  }
}
@media (max-width: 600px) {
  .propaganda {
    margin-top: 32px;
  }
  .propaganda-container-texto h1 {
    font-size: 2rem;
    width: 400px;
  }
  .propaganda-container-texto p {
    font-size: 1.2rem;
  }
  .propaganda-container img {
    height: 189px;
  }
}
@media (max-width: 400px) {
  .propaganda {
    box-shadow: inset 0 80px #111111;
  }
  .propaganda-container-texto h1 {
    padding-top: 32px;
    font-size: 2rem;
    width: 360px;
  }
  .propaganda-container img {
    display: none;
  }
}
.footer {
  background-color: #000000;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding: 60px 20px;
}

h3 {
  padding-bottom: 32px;
  color: #ffffff;
}

li,
a,
.copy {
  color: #b2b2b2;
}

.copy {
  width: 32ch;
}

.separador {
  padding: 16px 0;
  max-width: 360px;
  border-bottom: 2px solid rgba(178, 178, 178, 0.2);
}

.footer-redes {
  padding-top: 16px;
  display: flex;
  gap: 32px;
  margin-bottom: 80px;
}

.copy {
  color: #b2b2b2;
  grid-column: 1/-1;
}

.footer-informacoes {
  padding-right: 24px;
}

.footer-informacoes nav ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 800px) {
  .footer-container > img {
    display: none;
  }
  .footer-container {
    grid-template-columns: 1fr 1fr;
    padding: 24px;
  }
}
@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
  .copy {
    margin-top: 0px;
  }
}/*# sourceMappingURL=bikes.css.map */