@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:ital,wght@0,500;0,700;1,500&family=Roboto:ital,wght@0,500;0,700;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: none;
  border-style: none;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.text-nav {
  font: 500 1.125rem/2 "Poppins", sans-serif;
}

.text-h1 {
  font: 700 4rem/1.125 "Poppins", sans-serif;
}

.text-h1-span {
  color: #ffbb00;
}

.text-h2 {
  font: 700 2rem/1.125 "Poppins", sans-serif;
}

.text-p-med {
  font: 500 1.5rem/1.5 "Roboto", sans-serif;
}

.text-p-s {
  font: 500 1.125rem/1.5 "Roboto", sans-serif;
}

.text-p-s1 {
  font: 500 1rem/1.5 "Roboto", sans-serif;
}

.text-p-s2 {
  font: 500 0.875rem/1.5 "Roboto", sans-serif;
}

.text-p-s3 {
  font: 500 0.75rem/1.5 "Roboto", sans-serif;
}

.header-intro-bg {
  background-color: #000000;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  color: #ffffff;
  padding: 16px 0;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: #ededed;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after,
.header-menu a.ativo::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header {
    gap: 20px;
  }
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background: rgba(255, 255, 255, 0.5);
  }
  .header-menu a:hover::after {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 0.875rem;
  }
}
.btn-primario {
  padding: 16px 32px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  color: #332200;
  font: 700 1.125rem/1.33 "Poppins", sans-serif;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.btn-secundario {
  padding: 16px 32px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #2e2e2e;
  color: #cccccc;
  font: 700 1.125rem/1.33 "Poppins", sans-serif;
  text-transform: uppercase;
  border: none;
}

.footer {
  background-color: #000000;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding: 60px 20px;
}

h3 {
  padding-bottom: 32px;
  color: #ffffff;
}

li,
a,
.copy {
  color: #b2b2b2;
}

.copy {
  width: 32ch;
}

.separador {
  padding: 16px 0;
  max-width: 360px;
  border-bottom: 2px solid rgba(178, 178, 178, 0.2);
}

.footer-redes {
  padding-top: 16px;
  display: flex;
  gap: 32px;
  margin-bottom: 80px;
}

.copy {
  color: #b2b2b2;
  grid-column: 1/-1;
}

.footer-informacoes {
  padding-right: 24px;
}

.footer-informacoes nav ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 800px) {
  .footer-container > img {
    display: none;
  }
  .footer-container {
    grid-template-columns: 1fr 1fr;
    padding: 24px;
  }
}
@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
  .copy {
    margin-top: 0px;
  }
}
.intro {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
  gap: 40px;
}

.container {
  height: 100%;
  box-shadow: inset 0 -80px #ffffff;
  margin-bottom: 120px;
}

.intro-texto {
  padding-bottom: 200px;
}

.intro-texto h1 {
  color: #ffffff;
  margin-bottom: 32px;
}

.intro-texto p {
  color: #b2b2b2;
  margin-bottom: 32px;
}

.intro img {
  width: 100%;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .intro {
    background-color: #111111;
    grid-template-columns: 1fr;
    padding: 32px 0;
  }
  .intro-texto {
    padding: 24px;
  }
  .intro h1 {
    font-size: 2rem;
  }
  .intro p {
    font-size: 1.25rem;
    max-width: 740px;
  }
  .intro > img {
    display: none;
  }
}
.bicicletas {
  max-width: 1200px;
  margin: 0 auto;
}

.bicicletas-modelos {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.modelo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modelo img {
  width: 100%;
  border-radius: 4px;
}

.modelo-texto {
  padding: 12px 36px;
}

.modelo-texto h2 {
  position: relative;
  margin-bottom: 8px;
}

.modelo-texto p {
  margin-bottom: 120px;
}

.modelo-texto h2::before {
  content: "";
  width: 12px;
  height: 8px;
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  position: absolute;
  top: 12px;
  left: -24px;
  z-index: -1;
}

@media (max-width: 800px) {
  .bicicletas h1,
  .bicicletas-modelos {
    padding-left: 24px;
  }
  .bicicletas h1 {
    font-size: 2rem;
  }
  .bicicletas-modelos {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .bicicletas-modelos::-webkit-scrollbar {
    border-radius: 64px;
    width: 8px; /* define a largura da barra */
    background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%); /* define a cor de fundo */
  }
  .modelo {
    width: 300px;
  }
  .modelo-texto p {
    margin-bottom: 8px;
  }
}
.qualidades {
  background-color: #111111;
  box-shadow: inset 0 80px #ffffff, inset 0 -80px #ffffff;
}

.containter-qualidades {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 40px;
}

.qualidades-texto {
  padding-bottom: 140px;
}

.qualidades-texto p {
  padding-top: 16px;
  color: #b2b2b2;
}

.qualidades-texto h1 {
  padding-top: 20px;
  color: #ffffff;
}

.modelo-titulo {
  color: #ffbb00 !important;
  text-transform: uppercase;
  text-decoration: underline;
}

.qualidades-texto-tipo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tipo-modelo {
  padding-top: 80px;
  width: 300px;
}

.tipo-modelo h4 {
  color: #ffffff;
  position: relative;
}

.eletrico::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: url("../../../../src/assets/icons/eletrica.svg") no-repeat;
  position: absolute;
  top: -48px;
}

.rastreador::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: url("../../../../src/assets/icons/rastreador.svg") no-repeat;
  position: absolute;
  top: -48px;
}

.containter-qualidades-arte img {
  height: 1000px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 900px) {
  .qualidades {
    margin-top: 32px;
    background-color: #111111;
    box-shadow: none;
  }
  .containter-qualidades {
    padding: 32px 24px;
    grid-template-columns: 1fr;
  }
  .qualidades-texto {
    padding-bottom: 40px;
  }
  .qualidades-texto h1 {
    font-size: 2rem;
  }
  .qualidades-texto p {
    font-size: 1.25rem;
    max-width: 740px;
  }
  .containter-qualidades-arte > img {
    display: none;
  }
}
@media (max-width: 700px) {
  .qualidades-texto-tipo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.parceiros {
  padding-top: 120px;
  max-width: 1200px;
  margin: 0 auto;
  color: #000000;
}

.parceiros-quadro {
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.quadro-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  border-bottom: 2px solid #dedede;
  border-right: 2px solid #dedede;
}

.no-border-bottom {
  border-bottom: none;
}

.no-border-right {
  border-right: none;
}

.quadro-item img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 800px) {
  .parceiros h1 {
    padding: 24px;
    font-size: 2rem;
  }
}
.feedback {
  margin-top: 120px;
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  background-color: #ffbb00;
}

.feedback img {
  width: 50%;
  padding-left: 0;
}

.feedback-texto {
  max-width: 700px;
  margin-right: 0;
  padding: 80px 80px;
}

.feedback-texto p {
  color: #000000;
}

.depoimento {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 2.25rem;
  padding-bottom: 32px;
  position: relative;
  color: #000000;
}

.depoimento::before {
  content: "";
  display: block;
  width: 40px;
  height: 35px;
  background: url("../../../../src/assets/dec/“.svg");
  position: absolute;
  top: -20px;
  left: -40px;
}

.depoimento::after {
  content: "";
  display: block;
  width: 40px;
  height: 35px;
  background: url("../../../../src/assets/dec/”.svg");
  position: absolute;
  top: 200px;
  left: 500px;
}

@media (max-width: 800px) {
  .feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feedback img {
    padding-top: 64px;
    width: 80%;
  }
  .depoimento {
    font-size: 1.25rem;
  }
  .depoimento::before {
    display: none;
  }
  .depoimento::after {
    display: none;
  }
}
.seguro {
  background-color: #111111;
  padding: 60px 0;
}

.container-seguro {
  max-width: 1200px;
  margin: 0 auto;
  color: #ffffff;
}

.container-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  padding-top: 60px;
}

.seguro-card {
  background-color: #000000;
  border-radius: 5px;
  padding: 32px 64px;
}

.seguro-card-titulo {
  display: flex;
  justify-content: space-between;
}

.seguro-card-titulo h2 {
  color: #9c9c9c;
}

.ouro {
  color: #ffbb00 !important;
}

.preco {
  color: #ffffff !important;
  position: relative;
}

.preco::before {
  content: "mensal";
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  color: #9c9c9c !important;
  position: absolute;
  top: 36px;
  left: 46px;
}

.seguro-card ul {
  margin: 32px 0;
}

.seguro-card ul li {
  padding: 20px 0;
  position: relative;
}

.seguro-card ul li::before {
  content: "";
  display: block;
  width: 13px;
  height: 9px;
  background: url("../../../../src/assets/icons/lista.svg");
  position: absolute;
  top: 28px;
  left: -24px;
}

@media (max-width: 800px) {
  .container-seguro h1 {
    padding: 24px;
    font-size: 2rem;
  }
  .container-card {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  .seguro-card-titulo {
    flex-direction: column;
    gap: 20px;
  }
  .btn-primario, .btn-secundario {
    padding: 16px;
  }
}/*# sourceMappingURL=style.css.map */