.bike-img {
  &::after {
    content: "R$ 4999";
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 90px;
    height: 40px;
    border-radius: 5px 0px 0px 5px;

    top: 30px;
    right: 0;

    background-color: $black-dark;
    color: $white-light;
    font-family: Roboto;
    font-size: 18px;
  }
}

.bike-info {
  h4 {
    &::after {
      content: "";
      display: block;
      position: absolute;

      width: 12px;
      height: 8px;

      background-color: $primary-normal;

      top: 8px;
    }
  }
}

.container-black {
  background-color: $black-normal;

  box-shadow: 0px 0px 0px 0px, 1000px 0px 0px 0px $black-normal;

  position: relative;

  z-index: 1;

  &::after {
    content: "";
    display: block;
    position: absolute;

    z-index: -1;

    width: 18%;
    height: 100%;

    top: 0;

    background-color: $white-light;
  }

  @include responsive(s) {
    box-shadow: none;

    &::after {
      display: none;
    }
  }
}

.btn-more {
  @include responsive(s) {
    margin-top: 32px;
    justify-content: flex-start;
  }
}