.bike-action {
  @include responsive(s) {
    flex-wrap: wrap;

    .pills {
      margin-top: 16px;
      width: 100% !important;
      margin-left: 0 !important;
    }
  }
}

.bike-internal-tech {
  border: 0;
  border-radius: 4px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

  @include responsive(s) {
    grid-template-columns: 1fr;
  }
}

.bike-datasheet {
  border: 0;
  border-radius: 4px;
}

.seguros-mobile {
  @include responsive(s) {
    img {
      display: none;
    }
  }
}
