.choice-product {
  padding: 56px;

  h6 {
    &::after {
      content: "";
      display: block;
      position: absolute;

      width: 4px;
      height: 8px;

      top: 6px;
      left: -16px;

      background-color: $primary-light;
    }
  }

  .prev-choice {
    @include responsive(s) {
      flex-wrap: wrap;
    }
  }

  .choice {
    background-color: $black-light;
    padding: 16px 61px 16px 16px;
    border-radius: 4px;

    cursor: pointer;

    p {
      color: $white-normal;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
    }

    @include responsive(s) {
      margin-left: 0 !important;
      margin-bottom: 32px;
      width: 100%;
    }
  }
  .choice.selected {
    background-color: $white-light;
    padding: 16px 61px 16px 16px;
    border-radius: 4px;

    cursor: pointer;

    p {
      color: $black-dark;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
    }
  }
}

.choice-bike-container {
  background-color: $black-light;
  display: flex;
  align-items: center;

  margin-top: 24px;

  .choice-bike {
    background-color: $black-light;
    display: flex;
    align-items: center;
    white-space: nowrap; /* Evita que o texto quebre em várias linhas */
    padding: 16px;

    cursor: pointer;

    p {
      color: $white-normal;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      line-height: 30px;
      font-weight: 300;
    }
  }
  .choice-bike.selected {
    background-color: $white-light;
    p {
      color: $black-dark;
    }
  }
}
.choice-bike-container.active {
  background-color: $white-light
}