form {
  padding: 56px;

  @include responsive(s) {
    padding: 24px !important;
  }
}

.table-contact {
  display: grid;
  grid-template-columns: 5fr 7fr;

  @include responsive(s) {
    grid-template-columns: 1fr;

    .form-wrap {
      flex-wrap: wrap;
    }

    .form-mobile {
      margin-left: 0 !important;
      margin-top: 24px;
      width: 100%;
    }
  }
}

.icon-local {
  &::after {
    content: "";
    position: absolute;
    display: block;

    width: 20px;
    height: 20px;

    top: 2px;
    left: -32px;

    background-image: url("../../svg/icon-local.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.icon-email {
  &::after {
    content: "";
    position: absolute;
    display: block;

    width: 20px;
    height: 20px;

    top: 2px;
    left: -32px;

    background-image: url("../../svg/icon-email.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.icon-telefone {
  &::after {
    content: "";
    position: absolute;
    display: block;

    width: 20px;
    height: 20px;

    top: 2px;
    left: -32px;

    background-image: url("../../svg/icon-telefone.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// Section locais
.local {
  &::after {
    content: "";
    display: block;
    position: absolute;

    width: 12px;
    height: 8px;

    top: 16px;
    left: -18px;

    background-color: $primary-light;
  }
}

.clock {
  &::after {
    content: "";
    display: block;
    position: absolute;

    width: 20px;
    height: 20px;

    top: 3px;
    left: -26px;

    background-image: url("../../svg/icon-relogio.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// Page Seguros
.accordion-container div:nth-child(even) {
  background-color: $white-normal;
}


.accordion-item {
  // background-color: $white-normal;
  padding: 20px 40px;
  border-radius: 4px;
  cursor: pointer;

  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;

    width: 12px;
    height: 8px;

    top: 30px;
    left: 15px;

    background-color: $primary-light;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;

    width: 16px;
    height: 8px;

    cursor: pointer;

    top: 30px;
    right: 15px;

    background-image: url("../svg/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.accordion-item.active {
  &::before {
    background-image: url("../svg/arrow-up.svg");
  }
}

.accordion-title {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.accordion-content {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-top: 16px;
  background-color: transparent !important;
}

.q {
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    position: absolute;

    width: 12px;
    height: 8px;

    top: 11px;
    left: -20px;

    background-color: $primary-light;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;

    width: 16px;
    height: 8px;

    cursor: pointer;

    top: 11px;
    right: -20px;

    background-image: url("../svg/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
