.escolha-item {
  background: $c10;
  color: $c4;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
}

.escolha-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.escolha-item:hover {
  font-weight: 700;
  background: $c9;
}

.escolha-conteudo {
  padding-top: 20px;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  align-items: center;
  display: none;
}

.escolha-conteudo li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}