.header-intro-bg {
  background-color: $c12;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

nav ul {
  display: flex;
  gap: 40px;
}

ul li {
  color: $c0;
  padding: 8px 12px;
}

img {
  padding-left: 12px;
  width: 100%;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    gap: 40px;
  }
  ul li {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
  }
  ul li:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
