.footer {
  background-color: $c12;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding: 60px 0; 
}

h3 {
  padding-bottom: 32px;
  color: $c0;
}

li,
a,
.copy {
  color: $c5;
}

.copy {
  width: 32ch;
}

.separador {
  padding: 16px 0;
  max-width: 360px;
  border-bottom: 2px solid rgba(178, 178, 178, 0.2);
}

.footer-redes {
  padding-top: 16px;
  display: flex;
  gap: 32px;
  margin-bottom: 80px;
}

.copy {
  color: $c5;
  grid-column: 1/-1;
  padding-bottom: 32px;
}

.footer-informacoes {
  padding-right: 24px;
}

.footer-informacoes nav ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 800px) {
  .footer-container > img {
    display: none;
  }
  .footer-container {
    grid-template-columns: 1fr 1fr;
    padding: 24px;
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
  }  
  .copy {
    margin-top: 0px;
  }
}
