.bicicletas-texto-bg {
  background-color: $c11;
}

.bicicletas-texto,
.bicicleta-modelo {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}

.bicicletas-texto h1 {
  color: $c0;
}

p {
  color: $c8;
}

//Bicicletas
.bicicleta-modelo {
  display: grid;
  gap: 40px;
  padding: 60px 0;
  grid-template-columns: 1fr 1fr;
}

.modelo-imagem {
  position: relative;
}
.modelo-imagem span {
  display: inline-block;
  position: absolute;
  background: $c12;
  color: $c0;
  font-weight: 700;
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
  top: 20px;
  right: 0;
}

.modelo-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.modelo-conteudo h2,
.modelo-conteudo p {
  grid-column: 1/-1;
}

.modelo-conteudo h2 {
  margin: 20px 0;
  position: relative;
}
.modelo-conteudo h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background: $g1;
  position: absolute;
  top: -20px;
}

.modelo-conteudo p,
.modelo-conteudo li {
  color: $c8;
}

.modelo-conteudo p {
  max-width: 52ch;
  margin-bottom: 32px;
}

.modelo-conteudo li {
  display: flex;
  padding-bottom: 16px;
  gap: 8px;
}

.modelo-conteudo a {
  place-self: end;
  margin-bottom: 12px;
}

.bicicleta-bg {
  background: linear-gradient(to right, $c0 30%, $c11 0%);
}

.bicicleta-bg h2 {
  color: $c0;
}

.bicicleta-bg p,
.bicicleta-bg li {
  color: $c5;
}

@media (max-width: 800px) {
  .bicicleta-bg {
    background: $c11;
  }
  .bicicleta-modelo {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 40px 20px;
  }
}
@media (max-width: 600px) {
  .modelo-conteudo {
    grid-template-columns: 1fr;
  }
  .modelo-conteudo a {
    place-self: start;
  }
}
