.feedback {
  margin-top: 120px;
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  background-color: $p1;
}

.feedback img {
  width: 50%;
  padding-left: 0;
}

.feedback-texto {
  max-width: 700px;
  margin-right: 0;
  padding: 80px 80px;
}

.feedback-texto p {
  color: $c12;
}

.depoimento {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 2.25rem;
  padding-bottom: 32px;
  position: relative;
  color: $c12;
}
.depoimento::before {
  content: "";
  display: block;
  width: 40px;
  height: 35px;
  background: url("../../../../src/assets/dec/“.svg");
  position: absolute;
  top: -20px;
  left: -40px;
}
.depoimento::after {
  content: "";
  display: block;
  width: 40px;
  height: 35px;
  background: url("../../../../src/assets/dec/”.svg");
  position: absolute;
  top: 200px;
  left: 500px;
}
