.intro {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 40px;
}

.container {
  height: 100%;
  box-shadow: inset 0 -80px $c0;
  margin-bottom: 120px;
}

.intro-texto {
  padding-bottom: 200px;
}

.intro-texto h1 {
  color: $c0;
  margin-bottom: 32px;
}

.intro-texto p {
  color: $c5;
  margin-bottom: 32px;
}

.intro img {
  width: 100%;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .intro {
    background-color: $c11;
    grid-template-columns: 1fr;
    padding: 32px 0;
  }
  .intro-texto {
    padding: 24px;
  }
  .intro h1 {
    font-size: 2rem;
  }
  .intro p {
    font-size: 1.25rem;
    max-width: 740px;
  }
  .intro > img {
    display: none;
  }
}