.qualidades {
  background-color: $c11;
  box-shadow: inset 0 80px $c0, inset 0 -80px $c0;
}

.containter-qualidades {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 40px;
}

.qualidades-texto {
  padding-bottom: 140px;
}

.qualidades-texto p {
  padding-top: 16px;
  color: $c5;
}

.qualidades-texto h1 {
  padding-top: 20px;
  color: $c0;
}

.modelo-titulo {
  color: $p1 !important;
  text-transform: uppercase;
  text-decoration: underline;
}

.qualidades-texto-tipo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tipo-modelo {
  padding-top: 80px;
  width: 300px;
}

.tipo-modelo h4 {
  color: $c0;
  position: relative;
}
.eletrico::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: url("../../../../src/assets/icons/eletrica.svg") no-repeat;
  position: absolute;
  top: -48px;
}
.rastreador::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: url("../../../../src/assets/icons/rastreador.svg") no-repeat;
  position: absolute;
  top: -48px;
}

.containter-qualidades-arte img {
  height: 1000px;
  object-fit: cover;
}


@media (max-width: 900px) {
  .qualidades {
    margin-top: 32px;
    background-color: $c11;
    box-shadow: none;
  }
  .containter-qualidades {
    padding: 32px 24px;
    grid-template-columns: 1fr;
  }
  .qualidades-texto {
    padding-bottom: 40px;
  }
  .qualidades-texto h1 {
    font-size: 2rem;
  }
  .qualidades-texto p {
    font-size: 1.25rem;
    max-width: 740px;
  }
  .containter-qualidades-arte > img {
    display: none;
  }
}

@media (max-width: 700px) {
  .qualidades-texto-tipo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }  
}