.seguro {
  background-color: $c11;
  padding: 60px 0;
}

.container-seguro {
  max-width: 1200px;
  margin: 0 auto;
  color: $c0;
}

.container-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  padding-top: 60px;
}

.seguro-card {
  background-color: $c12;
  border-radius: 5px;
  padding: 32px 64px;
}

.seguro-card-titulo {
  display: flex;
  justify-content: space-between;
}

.seguro-card-titulo h2 {
  color: $c6;
}

.ouro {
  color: $p1 !important;
}

.preco {
  color: $c0 !important;
  position: relative;
}
.preco::before {
  content: "mensal";
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  color: $c6 !important;
  position: absolute;
  top: 36px;
  left: 46px;
}

.seguro-card ul {
  margin: 32px 0;
}

.seguro-card ul li {
  padding: 20px 0;
  position: relative;
}
.seguro-card ul li::before {
  content: "";
  display: block;
  width: 13px;
  height: 9px;
  background: url("../../../../src/assets/icons/lista.svg");
  position: absolute;
  top: 28px;
  left: -24px;  
}
